:root {
    --bg-button: linear-gradient(to right, #f0f0f0dd, #f0f0f0);
    --border-button: solid 1px #777;
}

.button {
    font-size: 1.3em;
    background: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

button:active {
    background: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background: linear-gradient(to right, #d16117, #fa8231);
    color: #fff;
}

.button.operation:active {
    background: linear-gradient(to right, #c25a16, #e0742b);;
}